html {
    align-items: center;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

#title, #subtitle {
    scale: 100%;
    transition: 1s;
    text-decoration: none;
    -webkit-animation: ease-out;
}

#title:hover, #subtitle:hover {
    scale: 120%;
    transition: 1s;
    text-decoration: underline;
    -webkit-animation: ease-in;
}

#options {
    left: 33%;
    top: 25%;
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
    width: 35%;
    height: 37.5%;
    border-radius: 0.75rem;
    transition: 1s;
    scale: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
}

#options:hover {
    scale: 110%;
    transition: 1s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.75), 0 6px 20px 0 rgba(0,0,0,0.75);
}

#background {
    position: fixed;
    top: -15%;
    left: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 105%;
    height: 115%;
    z-index: -1;
    filter: blur(0.1rem);
    transition: 2s;
}

#button-1, #button-2, #reset-button, #background-button {
    border-radius: 0.25rem;
    border: 2px solid black;
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    scale: 100%;
}

#button-1:hover, #button-2:hover, #reset-button:hover, #background-button:hover {
    transition: 0.5s;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5), 0 3px 10px 0 rgba(0,0,0,0.5);
    scale: 110%;
}