body {
    align-items: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
    transition: 1s;
}

#loading-text {
    opacity: 100%;
    transition: 0.5s;
    position: fixed;
    top: 40%;
    left: 45%;
}

#info-box {
    position: fixed;
    transition: 0.5s;
    top: 36.5%;
    left: 40%;
    opacity: 0%;
    width: 21.5%;
    height: 100%;
}

#content-box {
    position: fixed;
    transition: 0.5s;
    top: 36.5%;
    left: 40%;
    opacity: 0%;
    width: 21.5%;
    height: 100%;
}

.titles {
    scale: 100%;
    transition: 1s;
    text-decoration: none;
}

.titles:hover {
    scale: 110%;
    transition: 1s;
    text-decoration: underline;
}

#info-button, #load-content, #theme-button, #load-info {
    border-radius: 2rem;
    background-color: transparent;
    border: 2px solid #111111;
    transition: 1s;
    scale: 100%;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.15), 0 6px 12px 0 rgba(0,0,0,0.15);
}

#info-button:hover, #load-content:hover, #theme-button:hover, #load-info:hover {
    transition: 1s;
    scale: 110%;
    border-radius: 0.25rem;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.325), 0 6px 12px 0 rgba(0,0,0,0.325);
}
